tr.critical {
  background-color: coral;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.form label {
  text-align: right;
  padding-right: 10px;
}

table {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
nav {
  text-align: center;
}

p.info {
  background-image: url("./../ressources/warning.svg");
  background-repeat: no-repeat;
  background-position: left top;

  text-align: center;
}