tr.critical
{
  background-color: coral;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  width: 500px;
  margin-right: auto;
}

p.info {
  background-image: url("./../ressources/warning.svg");
  background-repeat: no-repeat;
  background-position: left top;

  text-align: center;
}

